body{
    margin: 0px;
    font-family:'Lato',Helvetica,Arial,Lucida,sans-serif;
    overflow-x: hidden;
}


#logo{
    z-index: 999;
    position: absolute;
    margin-left: 2em;
    margin-top: 1em;
}
.navigationBar{
 
    z-index: 999;
 
    background-color: white;
    top: 0;
    display: block;
    width: 100%;
    height: 5em;
    position: fixed;
    box-shadow: 0px 0px 1px black;
}
.navigationBar ol{
    z-index: 999;

    width: 80%;
    height: 100%;
    margin-top: 0px;
    padding:0px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navigationBar ol li{
    z-index: 999;

    text-align: center;
    position: relative;
    width: 6em;
    display: block;
}
.navigationBar ol li a {
    z-index: 999;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    line-height: 5.5em;
    display: block;
    margin-top: 0px;
    list-style-type: none;
    text-decoration: none;

}
.navigationBar ol li a:hover{
    z-index: 999;

    transition-duration: 500ms;
    color: rgb(177, 177, 177);
}
@media only screen and (max-width: 800px) {

    .navigationBar ol {
        display: none;
    }
    .navigationBar ol li {
        display: none;
    }
    .navigationBar ol li a {
        display: none;
    }
}

.background{
    background-image: url(PatternResized.png);
    position: absolute;
    top: 0;
    z-index: -10;
    width: 1000px;    
    height: 1000px;
    margin-left: 50%;
}

.backgroundOverlay{
background-image: url(sight-seeing-44.png);
position: absolute;
top: 0;
z-index: -1;
width: 100%;
height: 1000px;
margin-left: 50%;


}

.section1{

    position: relative;
    z-index: 10;
    font-family: monospace;
    margin-top:10em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.section1Subsection1{
    width: 40%;
}

.introText{
    font-size: 6em;
    color: rgb(50, 50, 50);
    margin-bottom: 0px;
}

.subText{
    margin-top: 2em;
    color:rgb(70, 70, 70);
    margin-bottom: 0px;
}

.tryoutButton{
    margin-top: 3em;
    display: block;
    width: 17em;
    height: 5em;
    text-align: center;
    background: #E02B20;
    color: white;
    line-height: 5em;
    margin-bottom: 2em;


}

.tryoutButton p {
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 770;
}

.tryoutButton:hover{
    cursor: pointer;
}

.middleBox{

    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 45em;
    background-color: white;
    box-shadow: 0px 0px 7px 0px darkgray;
    padding: 2.5em;
}

.middleBox h3 {
    font-size: 2em;
    font-weight: 700;
}

.middleBox p {
    font-size: 19px;
    color: rgb(70, 70, 70);
    line-height: 1.8em;
    word-spacing: 3px;

    /*Makes the text go to the edges*/
    text-align: justify;
    text-align-last: justify;
}

.background2Container{
    transform: translateY(-300px);
    position: relative;
    z-index: -2;
}

.background2{
    margin-top: 5em;
    background-image: url(black-and-white-pagoda.png);
    position: sticky;
    background-size: cover;
    z-index: -10;
    width: 700px;
    height: 800px;
}

.backgroundOverlay2{
background-image: url(sight-seeing-45.png);
position: absolute;
z-index: -2;
background-size: cover;
width: 700px;
height: 800px;
}



.aboutUsContainer{
    transform: translateY(-500px);
    height: 100%;
}


.aboutUs{
    z-index: -5;
    position: absolute;
    display: block;
    background-color:#E02B20 ;
    width: 50%;
    right:0;
    color: white;
    transform: translateY(-200px);

}

.aboutUs h1{ 
    font-family: 'PT Serif',Georgia,"Times New Roman",serif;
    margin: 10%;
    margin-bottom: 5%;
    margin-left: 20%;
    font-size: 2em;
    font-weight: 700;
}

.aboutUs p{
    margin: 10%;
    margin-top: 5%;
    margin-left: 20%;

    font-size: 19px;            
    color:white;
    line-height: 1.8em;
    word-spacing: 3px;        
    text-align: justify;
    text-align-last: justify;
}

.aboutUsBackground{
    
    background-color: white;
}
.aboutUsLine{
    background-color: white;
    height: 20px;
}
.clubPicture{
    margin-left: 10%;
    z-index: -2;
    position: relative;
    border: 5px solid white;
    width: 60%;
    min-width: 20em;
    box-shadow: -10px 10px 30px 0px darkgray;
    max-width: 800px;
}

.visitUs{
    display: block;
    background-color: #E02B20;
    width: 20em;
    height: 4em;
    position: absolute;
    z-index: -1;
    border: 5px solid white;
    margin-right: 20%;
    transform: translateY(-100px);
}

.visitUs p {
    color: rgb(245, 245, 245);
    text-align: center;
    font-weight: 600;
}

.clubPictureContainer{
    max-width: 1200px;
    margin-right: 10%;
    margin-left: 10%;
}

@media only screen and (max-width:1800px){   
        .aboutUs{width: 35%;}
}
@media only screen and (max-width:1300px){
    .aboutUsBackground{display: none;}
    .aboutUsLine{display: none;}
}
@media only screen and (min-width:2000px){   
    .aboutUsBackground{display: none;}
    .aboutUsLine{display: none;}
}


@media only screen and (max-width:800px){
        .aboutUs{
            display: block;
            position: relative;
            margin-left:auto;
            margin-right: auto;
            padding: 2.5em;
            width: 80%;
            height: 100%;
        }
        
        .aboutUs h1 {
            margin: 0;
            font-size: 2em;
            font-weight: 700;
            margin-bottom: 10%;

        }
        
        .aboutUs p {
            margin: 0;
            font-size: 19px;
            color:white;
            line-height: 1.8em;
            word-spacing: 3px;
        
            /*Makes the text go to the edges*/
            text-align: justify;
            text-align-last: justify;
        }
        .clubPictureContainer{
            display: none;
        }
    }




.MainDiv{

    height: 18em;
    width: 15em;
    text-align: center;
    transition-duration: 200ms;
    
}
.MainDiv:hover{
    height: 26em;
    width: 17em;
    transition-duration: 500ms;
    box-shadow: 1px 1px 7px 2px black;
}
.title {
    font-size: 1.5em;
    font-weight: 1000;
    margin-bottom: 5px;
    margin-top: 5px;
}
.undertitle{
    font-weight: 700;
}
.MainDiv img {
    height: auto;
    width: 100%;
}
.MainDiv:hover img{

    content: url(LineSomGif.gif); 
}
.hidden{
    display: none;
    font-weight: 600;
    font-size: 1em;
}
.MainDiv:hover .hidden{

    display:inherit;
    transition-duration: 500ms;
}



.footer{
    bottom: 0;
    width: 100%;
    height: 2.5em;
    background-color: darkgreen;
}