body{
    margin: 0px;
}

.navigationBar{
    display: block;
    width: 100%;
    height: 5em;
    position: fixed;
    box-shadow: 0px 0px 1px black;
}

.navigationBar ol{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding:0px;
    margin-left:50%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


@media only screen and (max-width: 1200px){
    .navigationBar ol{
        margin-left: 30%;
    }
}

@media only screen and (max-width: 800px){
    .navigationBar ol{
        margin-left: 0%;
    }
}


.navigationBar ol li{
    text-align: center;
    position: relative;
    width: 6em;
    display: block;
}

.navigationBar ol li a {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    line-height: 5.5em;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    list-style-type: none;
    text-decoration: none;
}

.navigationBar ol li a:hover{
    transition-duration: 500ms;
    color: rgb(177, 177, 177);
}

.MainDiv{

    height: 18em;
    width: 15em;
    text-align: center;
    transition-duration: 200ms;
    
}

.MainDiv:hover{
    height: 26em;
    width: 17em;
    transition-duration: 500ms;
    box-shadow: 1px 1px 7px 2px black;
}

.title {
    font-size: 1.5em;
    font-weight: 1000;
    margin-bottom: 5px;
    margin-top: 5px;
}
.undertitle{
    font-weight: 700;
}

.MainDiv img {
    height: auto;
    width: 100%;
}

.MainDiv:hover img{

    content: url(LineSomGif.gif); 
}

.hidden{
    display: none;
    font-weight: 600;
    font-size: 1em;
}

.MainDiv:hover .hidden{

    display:inherit;
    transition-duration: 500ms;
}